.img{
	width: 100px;
	height: 100px;
	align-items: center;
	position: middle;
}

.headi{
	text-align: center;
	color: #B10C2D;
}

.content{
	text-align: left;
	background-color: white;
	color: black;
	margin: 20%;
	padding: 20px;
}

.tab{
	text-align: center;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}
table {
  border-spacing: 5px;
  width: 75%;
  height: 100px;
}