.logoCont{
	text-align: center;
	padding: 50px 0;
	margin: 50px 0;
}
.logoCont img{
	width: 600px;
}


.content{
	text-align: left;
	background-color: #1d1d1d;
	color: white;
	margin:0 20px ;
	padding: 50px;
}

.content h1{
	text-align: center;
	background: #28282a;
	padding: 30px 0px;
	color: #6AD6E3;
}
.tab{
	text-align: center;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}
table {
  border-spacing: 5px;
  width: 75%;
  height: 100px;
}
table h2{
	padding-top: 30px;
}
@media only screen and (max-width: 600px) {
	.logoCont img{
		width: 70%;
	}
	.content{
		padding: 20px;
	}
} 