<!DOCTYPE html>
<html>
<head>
    
    <title>NIE IEEE CS | Contact </title>
    {% include 'head.html' %}
	<script src="/static/js/validate.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/contact.css">
</head>
<body>
    {% include 'menu.html'%}
    {% include 'back_to_top.html'%}
    <div class = "column">
        <div id="page_container">
            <div  class = "container contact_container">
                <h2>Contact Us</h2>
                <p id="validMessage"></p>
                <form name="Contact" action="/Contact" method="POST">
                    <strong>Name :</strong><input type = "text" name = "contactName" required><br>
                    <strong>Email : </strong><input type="text" name = "contactEmail" required><br>
                    <strong>Subject :</strong><input type="text" name = "contactSubject" required><br>
                    <strong>Message :</strong><input type="text" name = "contactMessage" required><br><br>
                    <input type="submit" value="Submit" onclick="validate()">
                </form>
                {{ message }}
            </div>
        </div>
    </div>
    <div class = "column">
    </div>
    {% include 'footer.html'%}
    {% include 'scripts.html' %}
</p>
</body>
  
</html>














