<link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static',filename='css/footer-css.css')}}" />

<footer class="social-footer">
  <div class="columns">
    <div class="column">
      <ul class="iconWrapper">
        <a href="https://www.facebook.com/NieIeeeStudentBranch"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/nie_ieee_student_branch?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="https://twitter.com/?lang=en"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </ul>
    </div>
    
    <div class="column">
      NIE IEEE Student Branch 
      <br>The National Institute of Engineering 
      <br>Mysuru
    </div>
        
    <div class="column">
      Shriharsha M
      <br>+91 94839 04242 
      <br>shriharsha05@computer.org
    </div>
  </div>  
  
</footer>
