<link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static',filename='css/footer-css.css')}}" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

<footer class="social-footer">
  <div class="columns">
    <div class="column">
      <ul class="iconWrapper">
        <a href="https://www.facebook.com/NieIeeeStudentBranch"><i class="icon fa-facebook" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/nie_ieee_student_branch?hl=en"><i class="icon fa-instagram" aria-hidden="true"></i></a>
        <a href="https://github.com/nisbweb"><i class="icon fa-github" aria-hidden="true"></i></a>
      </ul>
    </div>
    
    <div class="column">
      NIE IEEE Student Branch 
      <br>The National Institute of Engineering 
      <br>Mysuru
    </div>
        
    <div class="column">
      Shriharsha M
      <br>+91 94839 04242 
      <br>shriharsha05@computer.org
    </div>
  </div>  
  
</footer>
