<!DOCTYPE html>
<html>
<head>

    <title>NIE IEEE CS | Gallery </title>
    {% include 'head.html' %}
    <link rel="stylesheet" href="static/css/gallery_css.css">
</head>
<body>
    {% include 'menu.html'%}
    {% include 'back_to_top.html'%}
    <header>
      <h1>GALLERY</h1>
    </header>
    <div class="gallery">
      <div class="img">
        <img src="static/images/1a.jpg">
      </div>
      <div class="img">
        <img src="static/images/2b.jpg">
      </div>
      <div class="img">
        <img src="static/images/7g.jpg">
      </div>
      <div class="img">
        <img src="static/images/4d.jpg">
      </div>
      <div class="img">
        <img src="static/images/5e.jpg">
      </div>
      <div class="img">
        <img src="static/images/6f.jpg">
      </div>
      <div class="img">
        <img src="static/images/3c.jpg">
      </div>
      <div class="img">
        <img src="static/images/8h.jpg">
      </div>
      <div class="img">
        <img src="static/images/9i.jpg">
      </div>
      <div class="img">
        <img src="static/images/11.jpg">
      </div>
      <div class="img">
        <img src="static/images/12.jpg">
      </div>
      <div class="img">
        <img src="static/images/13.jpg">
      </div>
      <div class="img">
        <img src="static/images/14.jpg">
      </div>
      <div class="img">
        <img src="static/images/15.jpg">
      </div>
      <div class="img">
        <img src="static/images/16.jpg">
      </div>
      <div class="img">
        <img src="static/images/10.jpg">
      </div>
    </div>
    {% include 'footer.html'%}
    {% include 'scripts.html' %}
</body>

</html>
