<!DOCTYPE html>
<html>
<head>
    
    <title>NIE IEEE CS | Rubix </title>
    {% include 'head.html' %}
    <link rel="stylesheet" type="text/css" href="../static/css/rubix-css.css"/>
		
</head>
<body>
    {% include 'menu.html'%}
    {% include 'back_to_top.html'%}
    <div id="page_container">
		<div class="logoCont">
    		<img src="../static/images/rubix.PNG"/>
		</div>
    	


   <div class="content">
		<h1 class="headi">ATTENTION GEEKS!</h1>
   		<p>For the first time ever,  
		   saddle up, build some momentum and leap forth into the most supreme world of technology!<br>

		   It's Revolutionary, Unique, Bold, Inventive and Xtreme, yes it is <strong>RUBIX!</strong><br>
		   <strong>NIE-IEEE Computer Society</strong> is primed to drive you into the quintessential <strong>week-long geek fest</strong>  to make you wobble this March from <strong>11th to 15th</strong>, with various workshops and cornucopia of events like Ethical Hacking, Extreme coding, Workshops and much more!<br>
		   Get ready to be bewitched in the sphere of technology.<br>
		   <strong>Get ready to bring out the geek in you.</strong>
		</p>
	</div>
<br>
<br>
<br>
			<table style="width:100%" cellpadding="5000">
  				<tr>
    				<th style="text-align:center"><h2>EVENT</h2></th>
    				<th style="text-align:center"><h2>DATE</h2></th> 
  				</tr>
  				<tr>
    				<td style="text-align:center">Inauguration</td>
    				<td style="text-align:center">11/03/2019</td> 
  				</tr>
  				<tr>
    				<td style="text-align:center">Tech Talk on Ethical Hacking</td>
    				<td style="text-align:center">11/03/2019</td> 
  				</tr>
  				<tr>
    				<td style="text-align:center">Codegeeks 2.0</td>
    				<td style="text-align:center">11/03/2019</td> 
  				</tr>
  				<tr>
    				<td style="text-align:center">Django Workshop</td>
    				<td style="text-align:center">12/03/2019</td> 
  				</tr>
  				<tr>
    				<td style="text-align:center">Tech Talk on Open Source</td>
    				<td style="text-align:center">13/03/2019</td> 
  				</tr>
  				<tr>
    				<td style="text-align:center">Android Workshop</td>
    				<td style="text-align:center">14/03/2019 and 15/03/2019</td> 
  				</tr>
			</table>
			<br>
	<div class="content">
   		<p>More details will be out soon!<strong> STAY TUNED!!</strong><br>
   			<strong>#Rubix #TheGeekWeek</strong></p>
		</p>
	</div>
<br>
<br>
<br>


    </div>

    {% include 'footer.html'%}
    {% include 'scripts.html' %}
</body>
  
</html>















